<!DOCTYPE html>
<html lang="en" ng-app>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" type="image/png"href="/home/img/logo_round.png">-->

  <title>Social Wobble</title>
  <!--<link rel='shortcut icon' type='image/x-icon' href="/home/favicon.ico">-->

  <!--<link href="home/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link href="home/css/styles.css" rel="stylesheet">-->
  <!--<link href="home/css/media-queries.css" rel="stylesheet">-->
  <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
  <!--<link href="home/style/ribbon.css" rel="stylesheet">-->
  <!--<link href="home/style/style.min.css" rel="stylesheet">-->
  <!--<link href="home/style/picnic.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="home/css/jquery.fullPage.css" />-->
  <!--<script src="//vjs.zencdn.net/5.8/video.min.js"></script>-->
  <!--<link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">-->
  <!--<link href="home/style/sublime.css" rel="stylesheet">-->

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

</head>
<body>
<nav class="loading"><a href="<%= @home_url %>" class="brand"><span>social wobble</span></a>
  <!-- responsiveness-->
  <input id="bmenu" type="checkbox" class="show">
  <label for="bmenu" class="burger toggle pseudo button">menu</label>
  <div class="menu">
    <a href="<%= @login_url %>" class="button">Log in</a>
  </div>
</nav>
</body>
</html>