path
  stroke: steelblue
  stroke-width: 2
  fill: none

.axis path,
.axis line
  fill: none
  stroke: grey
  stroke-width: 1
  shape-rendering: crispEdges

//path
//  fill: purple
//  fill-opacity: 0.7
//
//.area-chart
//  width: 480px
//  height: 320px
//  border: 1px solid black
//  margin-top: 10px
